@use "variable" as *;
@use "mixins" as *;

.banner {
  position: relative;
  overflow: hidden;

  .image-container {
    display: flex;
    transition: 0.3s ease-in;
  }
  img {
    z-index: 1;
    min-width: 100%;
    height: auto;
  }

  // the arrows inside banner
  .fa-solid {
    color: $button-color;
    font-size: 1.5rem;
  }

  @mixin position($property) {
    position: absolute;
    top: 45%;
    z-index: 2;
    #{$property}: 1rem;
  }

  .fa-less-than {
    @include position(left);
  }

  .fa-greater-than {
    @include position(right);
  }

  //   circles inside the banner
  .circles {
    bottom: 1rem;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
    gap: 0.5rem;

    span {
      width: 1rem;
      border: 4px solid $button-color;
      border-radius: 50%;
      opacity: 50%;

      @include mq($tablet) {
        border: 8px solid $button-color;
      }
    }

    .active {
      opacity: 100%;
    }
  }

  .banner-text {
    display: none;

    @include mq($tablet) {
      display: block;

      div {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        top: 2rem;
        right: 0;
        padding: 2rem;
        background-color: #ffffff8b;
        letter-spacing: 2px;
        max-width: 400px;

        h1 {
          color: $header-color;
          text-transform: uppercase;
        }

        a {
          @include button();
        }
      }
    }

    @include mq($laptop) {
      font-size: 2rem;

      div {
        max-width: 500px;

        a{
          font-size: 1.5rem;
        }
      }
    }
  }
}
