@use "variable" as *;
@use "mixins" as *;

header {
  background-color: $bg-color;
  padding: 0rem;

  .btn-menu-container {
    cursor: pointer;
    padding: 1rem 0.3rem;
  }
  .btn-menu {
    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    position: relative;
    top: -0.6rem;
  }

  .btn-menu .button-content {
    display: block;
    cursor: pointer;
  }

  .btn-menu .text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .bar {
    display: block;
    height: 4px;
    background-color: white;
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out;
  
    &::before,
    &::after {
      content: "";
      height: 4px;  /* Added height */
      background-color: white;  /* Added background color */
      width: 100%;  /* Added width */
      position: absolute;
      transition: all 0.3s ease-in-out;
      left:0;
    }
  
    &::before {
      top: -10px;
    }
  
    &::after {
      top: 10px;
    }
  }

  .btn-menu:focus {
    outline: none;
  }

  .btn-menu:focus .button-content {
    outline: 5px solid #7683c9;
  }

  .show .btn-menu .bar {
    background-color: transparent;
  }

  .show .btn-menu .bar:before {
    top: 0;
    transform: rotate(45deg);
  }

  .show .btn-menu .bar:after {
    top: 0;
    transform: rotate(-45deg);
  }

  @include mq($laptop) {
    .btn-menu {
      display: none;
    }
  }

  @include mq($laptop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1rem;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @include mq($laptop) {
    padding: 0;
  }
}

nav {
  height: 0;
  transition: all 0.5s ease-in;

  .show & {
    height: 15rem;

    @include mq($laptop) {
      height: auto;
    }
  }

  ul {
    @include mq($laptop) {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  li {
    text-decoration: none;
    list-style: none;
    color: $text-color;
    padding: 0.5rem 1rem;

    a {
      text-decoration: none;
      cursor: pointer;
      color: $text-color;
    }

    i:hover {
      cursor: pointer;
      color: $button-color;
      background-color: black;
    }
  }

  li:hover:last-child {
    background-color: black;
  }

  li:last-child {
    padding-bottom: 5px;
    @include mq($laptop) {
      padding-bottom: 0.5rem;
    }
  }

  li:hover {
    background-color: $header-color;
  }

  @include mq($laptop) {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

i {
  display: flex;
  margin: 0 0.5rem 0 0.5rem;
}
