@use "variable" as *;
@use "mixins" as *;

.news {
  margin: 1.5rem;
  position: relative;

  i {
    margin-top: 0rem;
    display: none;
    cursor: pointer;

    @include mq(450px) {
      display: block;
      position: absolute;
      z-index: 1;

      @include arrow();
    }

    @include mq($tablet) {
      margin-top: 0.4rem;
    }
  }

  .fa-greater-than {
    right: 0;
  }

  .fa-less-than {
    left: 0;
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2.5rem;
  }

  .news-slider {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    width: 90%;
    margin: 0 auto;

    @include mq(450px) {
      flex-direction: row;
      overflow: hidden;
    }

    .slick-track {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;

      @include mq(450px) {
        flex-direction: row;
      }
    }
  }
}
