@use "variable" as *; 
@use "mixins" as *; 

.shop-slider{ 
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
}


.shop-by-cards{ 
    position:relative; 
    // transition: 0.3s ease-in;
    overflow: hidden;
    margin: 1rem;

    img{ 
        border-radius: 50%;
        display: block;
	    object-fit: cover;
        z-index: 0; 
        filter: brightness(60%); 
    }

    p{ 
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 1.5;
        transform: translateY(-50%);
        margin: 0;
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
}
