@use "variable" as *;
@use "mixins" as *;

.shop-by {
  position: relative;

  .slider-container {
    position: relative;
  }

  .slick-slider {
    width: 90%;
    margin: 0 auto;
  }

  .fa-less-than,
  .fa-greater-than {
    display: none;
    cursor: pointer;
  }

  @include mq(450px) {
    .fa-less-than,
    .fa-greater-than {
      display: block;
      position: absolute;
      font-size: 4rem;
      top: 50%;
      margin-top: -1.5rem;
      z-index: 1;
      @include arrow();
    }
    .fa-less-than {
      left: 0;
    }
    .fa-greater-than {
      right: 0;
    }
  }
}

.shop-slider {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
}

.shop-by-cards {
  position: relative;
  margin: 0 1rem;
  max-width: 350px;

  img {
    border-radius: 50%;
    display: block;
    object-fit: cover;
    z-index: 0;
    filter: brightness(60%);
    width: 100%;
  }

  p {
    padding:0.5rem; 
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  @include mq(450px) {
    p {
      font-size: 1rem;
    }
  }

  @include mq($laptop) {

  }

  @include mq($laptop) {
    p {
      font-size: 2rem;
    }
  }
}
