@use "variable" as *;
@use "mixins" as *;

.socials {
  padding: 1rem;

  @include mq($laptop) {
    padding: 1rem 3rem;
  }

  div:first-child {
    font-weight: bold;
    color: $button-color;
    font-size: 1.5rem;
    cursor: pointer;
  }

  ul {
    display: flex;
    margin: 1rem 0 0;
    li {
      list-style: none;
      font-size: 2rem;
      cursor: pointer;

      @include mq($laptop) {
        font-size: 3rem;
      }
    }
  }

  div:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mq($tablet) {
      flex-direction: row;
    }

    ul:last-child {
      color: $footer-text-color;
      font-size: 1.5rem;
      i {
        font-size: 2rem;
        color: $bg-color;
      }
    }
  }
}
