$bg-color: #000000;
$text-color: #FFFFFF;

$header-color: #666666;
$button-color: #FC851E;
$footer-text-color: #686868;
$footer-color: #EBEBEB;

$font-family-source: 'Source Sans 3', sans-serif;

// media query width
$laptop:1200px;
$tablet:700px;